<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DriverType" value="chrome"/>
    <add key="Username" value="lopukh.d.a@yandex.ru"/>
    <add key="Password" value="testpassword"/>
    <add key="Grid" value="false"/>
    <add key="Autor" value="Dzmitry Lopukh"/>
  </appSettings>
</configuration>