<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DriverType" value="Chrome"/>
    <add key="Username" value="lopukh.d.a@yandex.ru"/>
    <add key="Password" value="testpassword"/>
    <add key="Grid" value="false"/>
    <add key="Autor" value="Dzmitry Lopukh"/>
    <add key="localhost" value="localhost"/>
    <add key="port" value="4444"/>
    <add key="PlatformType" value="Windows"/>

  </appSettings>
</configuration>